.login
{
    background-color: #f8f8f8;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}
.logo
{
    background-image: url("./important.png");
}
.login__container > button{
    margin-top: 50px;
    text-transform: inherit;
    background-color: #0a8d48;
    color:white;
}
